.bg-light {
  background-color: #f7f7f7 !important;
}

.input {
  transition: box-shadow 0.3s, border-color 0.3s;
}

.input:focus {
  border-color: #42bfbb !important;
  box-shadow: 0 0 0 0.2rem #42bfbb !important;
}

.form-border-color {
  border-color: #a8a8a8 !important;
}

input,
textarea {
  width: 100%;
  padding: 1.3rem 2.5rem;
  margin: 0 0 1.5rem;
}

div .px-2 {
  padding: 1rem;
}

.form-control:focus {
  border-color: #42bfbb;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(66, 191, 187, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(66, 191, 187, 0.6);
}

.btn-primary2 {
  padding: 8px -1px;
  color: #fff;
  background: #46beb3;
  border: 1px solid #46beb3;
  font-weight: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  /* margin: 20px 0; */
  border-bottom: 3px solid #369b91;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.btn-primary2:hover {
  transform: translateY(3px);
  border-bottom: 3px solid transparent;
  background-color: #2ca29f;
  border-color: #2ca29f;
  color: #fff;
}
