.fs-2rem {
  font-size: 2rem !important;
  color: #999;
}

.fm-set {
  font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
}

#fh5co-counter {
  padding: 3em 0;
  clear: both;
}

.fh5co-counters .fh5co-counter {
  font-size: 44px;
  display: block;
  color: #232323;
  width: 100%;
  font-weight: 800 !important;
  margin-bottom: 0.3em;
}

#fh5co-counter,
#fh5co-header,
.fh5co-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.js .animate-box {
  opacity: 0;
}
.fade .fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated-fast {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bg-light {
  background-color: #f4f4f4;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}
/* .fade-in-element {
  animation: fade-in 1.4s;
} */

/* form */
.form-control {
  padding: 1.575rem 0.75rem;
}

.form-control2 {
  padding: 3.375rem 0.75rem;
}

.form-control:focus {
  border-color: #42bfbb;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(66, 191, 187, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(66, 191, 187, 0.6);
}

.btn-primary2 {
  color: #fff;
  background: #46beb3;
  border: 3px solid #46beb3;
  font-weight: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  /* margin: 20px 0; */
  border-bottom: 3px solid #369b91;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.btn-primary2:hover {
  transform: translateY(3px);
  border-bottom: 3px solid transparent;
  background-color: #2ca29f;
  border-color: #2ca29f;
  color: #fff;
}

.btn {
  padding: 0.675rem 0.75rem;
}
